<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
    <h1>Hello</h1>
    <p><%= newListItems %></p>
    <form action="/" method="post">
        <input type="text" name="newItem" id="" placeholder="New Item">
        <button type="submit" autocomplete="off">+</button>
    </form>
</body>
</html>